################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FsScripts/obj
/.vs/FsScripts/v16
/.vs/FsScripts/DesignTimeBuild
/FsScripts/bin/Debug/netcoreapp2.2
/UnitTests/bin/Debug/netcoreapp2.2
/UnitTests/obj
/FsScripts/bin/Debug/netcoreapp2.1
/UnitTests/bin/Debug/netcoreapp2.1
/.vs/FsScripts/v15
